#!/usr/bin/env bash

if [ ! -d "~/wedge" -o ! -d "/wedge" ]; then
  echo "Wedge dir is missing, run 'build/deps.sh fetch && build/deps.sh install-wedges' in shell to pull wedge."
fi

. build/dev-shell.sh 
