#!/usr/bin/env bash

#### Description
# Direnv is a tool for user to separate their shell config into different folder specific profile. When `cd`ing into the `oil` folder, if direnv is allowed to run the script, it will automatically run the `build/dev-shell.sh` script. and dump environment variables into current shell.

#### Usage
# - Install direnv and its shell hook on https://direnv.net/#getting-started
# - cd into git repo root
# - Run `direnv allow`
# - Now whenever you cd into oil repo or one of its subdirs, direnv will load environment variables directly for you.

. build/dev-shell.sh 
