*.swp
*.pyc
tags
.vagrant
.mypy_cache/
_chroot/
_tmp/
_bin/
_build/
_devbuild/
!opy/_regtest/src/_devbuild/
_deps/
# for mycpp
_gen/
_release/
fastlex.so
libc.so
line_input.so
posix_.so
# Python build support
build/temp.*
