make.sh
.gdbinit
*.swp
*.pyc
tags
.vagrant
.mypy_cache/
_bin/
_build/
_cache/
_chroot/
_clone/
_deps/
_devbuild/
_gen
_release/
_test/
_tmp/
!opy/_regtest/src/_devbuild/

build.ninja
.ninja_*
TASK.sh

fanos.so
fastlex.so
libc.so
line_input.so
posix_.so
yajl.so
# Python build support
build/temp.*

# my own automation
local.sh  

NOTES*.txt
*/NOTES*.txt
TODO*.txt
# uftrace creates this
uftrace.data
release-*.txt
asdl.txt

# pgen-specific stuff, this is probably temporary
pgen-native/*.o
pgen-native/parser

# emacs temp files
*~
