/* sort indicator in column headings */
.sortArrow {
  color: grey;
}

thead {
  font-weight: bold;
  color: #444;
}

table {
  padding: 10px;  /* Padding makes it look nicer. */
  border-collapse: collapse;  /* this is like old cellpadding */
  font-family: sans-serif;
}

/* like cellspacing? */
td {
  padding: 5px;
}

/* Built-in support for R NA values */
.na {
  color: darkred;
}

.num {
  text-align: right;
}

.highlight {
  background-color: #f0f0f0;
}

tbody tr:hover {
  background-color: lightcyan;
}


