name: Generate new report

on:
  # push:  # Add this temporarily
  #   branches:
  #     - update-causes-script
  workflow_dispatch:
    inputs:
      kind:
        type: choice
        description: What kind of report
        options: 
        - main
        - community
      base_report:
        required: true
         
jobs:
  trigger:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          chmod 700 ~/.ssh
          echo "${{ secrets.SSH_KEY_OP_OILS_PUB }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan op.oils.pub >> ~/.ssh/known_hosts
      - name: Install Python 2
        run: |
          sudo apt-get update
          sudo apt-get install -y python2
      - name: Install ysh & generate new report
        run: |
          mkdir -p bin
          curl -LJo bin/ysh  "http://op.oils.pub/blob/ysh"
          curl -LJo bin/cmark "http://op.oils.pub/blob/cmark"
          chmod +x bin/*
          export PATH="$PATH:$(pwd)/bin"
          curl -LJo devbuild.tar.gz  "http://op.oils.pub/blob/devbuild.tar.gz"
          tar xf devbuild.tar.gz
          regtest/aports-update-causes.sh update-latest ${{ inputs.base_report }} ${{ inputs.kind }}

