/* base.css: Style common to all pages on oilshell.org.
 */

@media screen and (max-width: 800px) {
  /* mobile: distance from left/right edge */
  body {
    padding: 0 1em;
  }
  /* mobile: horizontal scrollbar for code, so the long lines don't make the page small */
  pre {
    overflow: auto;
  }
}

@media screen and (min-width: 801px) {
  body {
    margin: 0 auto;
    font-size: large;
    line-height: 1.4;  /* http://bettermotherfuckingwebsite.com/ */
  }

  /* wide screens: Make it centered and skinny for readability */
  .skinny {
    width: 30em;
  }
  .wider {
    width: 45em;
  }

  /* We don't want too many distinct widths, so pre-declare them here. */
  .width40 {
    width: 40em;
  }
}

