body {
  margin: 0 auto;
  width: 70em;
}
code {
  color: green;
}
table {
  margin-left: 3em;
  font-family: sans-serif;
}
td {
  padding: 8px;  /* override default of 5px */
}
h3, h4 {
  color: darkgreen;
}

/* these two tables are side by side */
#shells, #hosts, #raw_times {
  display: inline-block;
  vertical-align: top;
}
#home-link {
  text-align: right;
}

/* columns */
#osh, #osh-ovm, #osh-cpython {
  background-color: oldlace;
}
/* rows */
.osh-row {
  background-color: oldlace;
}
