code {
  color: green;
}
table {
  margin-left: 3em;
  font-family: sans-serif;
}
td {
  padding: 8px;  /* override default of 5px */
}
h3, h4 {
  color: darkgreen;
}

/* these two tables are side by side */
#shells, #hosts, #raw_times {
  display: inline-block;
  vertical-align: top;
}

/* columns */
#osh, #osh-ovm, #osh-cpython, #osh-native {
  background-color: oldlace;
}
/* rows */
.special {
  background-color: oldlace;
}
