#latch-status {
  text-align: center;
  color: grey;
}

h1 {
  text-align: center;
}

.blog-post-title {
  text-align: left;
  font-size: 1.3em;
}

h2 {
  /* x-large is too big; causes most titles to wrap badly (on Chrome/Firefox desktop). */
  font-size: 1.2em;
}

h3 {
  margin: 0em;
  color: darkgreen;
  font-size: 1.0em;  /* Similar to default h4 */
}

/* Same as h4, but doesn't appear in TOC */
h4 {
  margin: 0em;
  color: darkgreen;
  font-size: 1.0em;
}

/* Exclude <pre><code>.  Is there a better way to do this?  */
p code, div code, li code, h2 code, h3 code {
  color: green;
}

blockquote {
  background-color: papayawhip;
  padding: 1.0em;
}

pre {
  /* TODO: It would be nice to remove this, but many code blocks wrap.
     Other solutions: A skinny font.  Make the whole page 35em? (not great) */
  font-size: medium;
}

.footnotes {
  font-size: small;
}

.date {
  font-size: medium;
  color: #555;
  padding-left: 1em;
  padding-right: 1em;
  white-space: nowrap;
}

/* BEGIN blog/ */

.sep-row {
  vertical-align: center;
}

.post-list tr {
  vertical-align: top;
}
.post-list a {
  text-decoration: none;
}
.post-list a:hover {
  text-decoration: underline;
}
/* Save space */
.post-list .date {
  padding-left: 0em;
}

/* Subtly stand out */
.alt-month .date {
  color: #000;
}

#all-posts tbody {
  /* NOTE: This seems to make the table background solid like border-collapse:
   * collapse, but doesn't mess with spacing.
   */
  display: block;
}

/* on blog/index.html */
#blog-tag-list {
  /* text-align: justify; */
  color: gray;
}

.tag-count {
  white-space: nowrap;
}

/* END blog/ */

/* For post bodies: */

.blog-tag {
  font-family: sans-serif;
}

#post-footer {
  background-color: #DEE;
  padding: 0.5em;
}

.attention {
  text-align: center;
  background-color: #DEE;
  padding: 0.5em;
}

/* anchors in cross-ref.html */
a[name] {
  color: green;
}

/* Links to cross-ref.html.  I copied color values from code.css for visual
harmony. */
a[href^="/cross-ref.html"] {
  color: #4070a0 /* Literal.String */
}

a[href^="/cross-ref.html"]:visited {
  /* color: #bb60d5 /* Name.Variable */
  color: purple;
}

/* Internal links.  This is so that cross-ref.html is consistent.  Technically
we might want to exclude other internal links, but I don't have many of those
right now. */
a[href^="#"] {
  color: #4070a0 /* Literal.String (light blue) */
}

a[href^="#"]:visited {
  /* color: #bb60d5 /* Name.Variable (light purple) */
  color: purple;
}
.book-text-link-td {
  padding: 1em;
  border-top: solid 1px #BBB;
}

.book-image-td {
  width: 30%
}

.book-desc-td {
  vertical-align: top;
}

/* For books and others */
hr {
  border: none;
  height: 1px;
  background-color: #BBB;
}

