/* For INSTALL.txt as HTML */

body {
  font-family: monospace;
}

p, ul, ol {
  margin-left: 2em;
}

h1 {
  font-size: 1.5em;  /* reduce to what browsers apparently use for h2 */
  font-family: serif;
}

h2 {
  font-size: 1.2em;  /* reduce to what browsers apparently use for h3 */
  font-family: serif;
}

pre {
  margin-left: 2em;
}

code {
  color: darkgreen;
}

#home-link {
  font-family: serif;
}

#build-timestamp {
  font-family: serif;
}
