/* For INSTALL.txt as HTML */

/* COMMON */
body {
  margin: 0 auto;
  width: 40em;
  font-family: monospace;
}

pre {
  color: green;
  margin-left: 4em;
}

code {
  color: green;
}

#home-link {
  text-align: right;
}
/* END COMMON */
