/* For syntax highlighting ``` blocks */

.sh-prompt {
  font-weight: bold;
  color: #666;
}

.sh-command {
  font-weight: bold;
  color: darkblue;
}

.sh-comment {
  font-style: italic;
  color: green;
}

.sh-tab-complete {
  color: #666;
}
