.counts a {
  text-decoration: none;  /* turn off underline */
}

.counts {
  font-size: large;
}

.summary {
  font-weight: bold;
}

h2 {
  font-size: large;
  color: darkgreen;
  margin-left: 2em;
}

#INDEX {
  margin: 0 auto;
}
