/* Style for manual
 * Some of this is copied from oilshell.org/css/base.css */

body {
  margin: 0 auto;
  width: 40em;

  font-size: large;
  line-height: 1.4;
  color: #444;
}

p, ul, ol {
  margin-left: 2em;
}

h4 {
  margin-left: 2em;
  color: darkblue;  /* different than blog */
}


/* blocks of code */
pre {
  /* font-size: medium; */
  /* background-color: #f6f8fa; */
  background-color: #eee;
  padding: 1em;
  margin-left: 2em;
}

/* inline code */
code {
  /* color: darkgreen; */
  background-color: #eee;
  padding: 1px;
  /* background-color: #f6f8fa; */
}

#home-link {
  text-align: right;
}

#version-in-header {
  color: darkgreen;
  font-weight: bold;
}
