/* Style for manual in doc/*.md */

/* Indent relative to headings if the screen is wide enough */
@media screen and (min-width: 801px) {
  p, ul, ol, pre {
    margin-left: 2em;
  }
}

/* h1 is the title
 * h2 is the first level shown in TOC
 * h3 is the second and last level shown in TOC
 */
h1 {
  font-size: 1.5em;  /* reduce to what browsers apparently use for h2 */
}

h2 {
  font-size: 1.2em;  /* reduce to what browsers apparently use for h3 */
}

h3 {
  font-size: large;
  margin-left: 2em;
  color: darkblue;  /* different than blog */
}


/* inline code 
 *
 * BUG FIX: Selector is 'p code' and not 'code' because markdown generates
 * <pre><code> pairs from indented blocks for some reason, and they would
 * interfere only in Chrome.
 */
p code, li code, h2 code, h3 code, div code {
  background-color: #eee;
  padding: 4px;
}
