/* Style for manual
 * Some of this is copied from oilshell.org/css/base.css */

body {
  margin: 0 auto;
  width: 40em;

  font-size: large;
  line-height: 1.4;
  color: #444;
}

pre {
  color: green;
  margin-left: 4em;
}

code {
  color: green;
}

#home-link {
  text-align: right;
}

h4 {
  margin: 0em;
  color: darkgreen;
}

#version-in-header {
  color: darkgreen;
  font-weight: bold;
}
