/* Style for checksum, file size, etc.
 * Included dynamically from release/$VERSION/index.html, and statically
 * built into /releases.html.
 */

/* COMMON */
body {
  margin: 0 auto;
  width: 40em;  /* overridden in devtools/release.sh for releases.html */
}

pre {
  color: green;
  margin-left: 4em;
}

code {
  color: green;
}

#home-link {
  text-align: right;
}
/* END COMMON */

.file-table {
  padding: 1em;
  background-color: oldlace;
}

.file-table table {
  width: 100%
}

.file-table-heading {
  color: darkgreen;
}

.filename {
  font-size: large;
  font-family: monospace;
}

.size {
  text-align: right;
}
.checksum {
  font-family: monospace;
  font-size: small;
  color: #444;
}

.version-number {
  font-size: large;
  font-weight: bold;
}

.date {
  font-size: medium;
  color: #555;
  padding-left: 1em;
  padding-right: 1em;
}
