h1 {
  font-size: x-large;
}

table {
  border-collapse: collapse;
  font-family: sans-serif;
}

thead {
  font-weight: bold;
  background-color: #eee;
}

tbody tr:hover {
  background-color: #eee;
}

.totals {
  font-weight: bold;
}

td {
  padding-top: 0.3em;
  padding-bottom: 0.4em;
  padding-left: 1em;
  padding-right: 1em;
  text-align: right;
}

.details-row {
  padding-top: 0;
}

.case-desc {
  text-align: left;
}

/* failure messages */
.assertion {
  color: darkred;
}

#details td {
  vertical-align: top;  /* so the #anchor goes to top of cell */
  text-align: left;
  border-top: solid 1px;
  border-color: lightgrey;
}

.pass { color: darkgreen; font-size: large; }
.ok   { color: #660; font-size: large; }
.n-i  { color: #660; font-size: large; }
.bug  { color: #660; font-size: large; }
.fail { color: darkred; font-size: large; }
.timeout { color: purple; font-size: large; }

.failed {
  background-color: #ffe0e0;
}

.osh-pass {
  background-color: #e0ffe0;
}

.osh-allow-fail {
  background-color: #ffffe0;
}
