/* For doctools/src_tree.py */

@media screen and (min-width: 801px) {
  body {
    font-size: large;
    font-family: sans-serif;
  }
}

/* Like web/ref-index.css */
h1 {
  font-size: 1.4em;
}

a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* For highlighting specific lines.  Don't need an anchor! */
:target {
   background-color: palegoldenrod;
}

.num {
  color: #666;
  text-align: right;
  /* Users can copy the code without copying line numbers */
  user-select: none;
}

.line {
  white-space: pre;
}

.spec-comment {
  font-weight: bold;
  color: #0047ab;  /* cobalt */
}

.comm {
  /* Note blog uses language.css, which is 'green' */
  color: #0047ab;  /* cobalt */
  font-style: italic;
}

.str {
  color: brown;
}

/* TODO: a real color scheme, for pre-processor, etc. */

table {
  border-collapse: collapse;
  font-family: monospace;
}

td {
  padding-top: 1px;
  padding-bottom: 1px;
  /*
  padding-top: 0px;
  padding-bottom: 0px;
  */
  /* The line number and code need margins */
  padding-left: 1em;
  padding-right: 1em;
}

