/* For doctools/{src_tree,micro_syntax} */

/* Copied from mobile part of web/base.css */
body {
  /* Arial seems thinner than the default sans-serif font */
  font-family: Arial, sans-serif;
  font-size: large;
  padding: 0 3em;
}
/* horizontal scrollbar for code, so the long lines don't make the page small */
pre {
  overflow: auto;
}

#home-link {
  float: right;  /* to the right of the breadcrumb */
}

/* Like web/ref-index.css */
h1 {
  font-size: 1.4em;
}

a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* For highlighting specific lines.  Don't need an anchor! */
:target {
   background-color: palegoldenrod;
}

.listing {
  /* Long filenames like those in spec/ can wrap, but that seems OK */
  column-width: 12em;
  /* column-count: 3; */
}

#file-counts {
  text-align: right;
  font-size: medium;
}

.num {
  color: #666;
  text-align: right;
  /* Users can copy the code without copying line numbers */
  user-select: none;
}

.line {
  white-space: pre;
  color: #141414;  /* almost black */
}

.spec-comment {
  font-weight: bold;
  color: #0047ab;  /* cobalt */
}

.comm {
  /* Note blog uses language.css, which is 'green' */
  color: #0047ab;  /* cobalt */
  /* font-style: italic; */
}

.str {
  color: brown;
}

.re2c {
  color: purple;
}

/* TODO: a real color scheme, for pre-processor, etc. */

table {
  border-collapse: collapse;
  font-family: monospace;
}

td {
  padding-top: 1px;
  padding-bottom: 1px;
  /*
  padding-top: 0px;
  padding-bottom: 0px;
  */
  /* The line number and code need margins */
  padding-left: 1em;
  padding-right: 1em;
}
