/*
 * For toc.js -- also taken from asciidoc.
 */

div#toc {
  margin-top: 2em;
  background-color: oldlace;
  padding: 1em;
}

div#toc a {
  text-decoration: none;
}

#toctitle {
  text-align: center;
  color: #666;
  font-weight: bold;
  margin-bottom: 0.2em;
}

div.toclevel1, div.toclevel2, div.toclevel3, div.toclevel4 {
  margin-top: 0;
  margin-bottom: 0;
}
div.toclevel1 {
  margin-left: 2em;
  font-size: 0.9em;
}
div.toclevel2 {
  margin-left: 4em;
  font-size: 0.9em;
}

/* Dense TOC style for doc/ref */

/* The whole TOC */
.dense-toc {
  column-width: 12em;
}

/* Represents ONE h2 and ALL h3 children */
.dense-toc-group {
  /*
  display: inline-block;
  display: table;
  */

  /* 
  Treat h2 and ALL h3 children as UNBREAKABLE unit

  This is an older thing that seems to work */
  overflow: hidden;
  /*
  # newer thing?
  page-break-inside: avoid;
  */

  margin-left: 2em;
  padding-bottom: 0.5em;
}

/* One h3 child */
.dense-toc-h3 {
  margin-left: 1em;
  font-size: 0.9em;
}
