@media screen and (min-width: 801px) {
  body {
    font-size: large;
  }
}

h1 {
  font-size: x-large;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #eee;
  font-weight: bold;
  font-size: medium;
}

td {
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: right;
  vertical-align: top;
}

thead tr td {
  padding-top: 1em;
  padding-bottom: 1em;
}

.fail-detail {
  font-size: medium;
}

.commit-line {
  text-align: left;
}

.commit-row td {
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  background-color: oldlace;

}

/* for task and job status */
.pass {
  color: darkgreen;
}
.fail {
  color: darkred;
}
